<p class='post-info'>
  Posted
  <time datetime="{{date published_at format='YYYY-MM-DD, hh:mm:ss a'}}" title="{{date published_at format='hh:mm:ss a'}} on {{date published_at format='MMM D YYYY'}}">
    {{date published_at timeago="true"}}
  </time>
  by {{authors}}
</p>