{{!< default}}

{{#post}}
<article class="post-content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
    <div class="centerer">
        <header class='title-and-nav'>
            <span class='nav-arrow'>
                {{#prev_post}}
                <a title='{{title}}' href="{{url}}">&larr;</a>
                {{/prev_post}}
            </span>
            <h2 class='blog-title'><a href= {{@site.url}}>{{@site.title}}</a></h2>
            <span class='nav-arrow'>
                {{#next_post}}
                <a title='{{title}}' href="{{url}}">&rarr;</a>
                {{/next_post}}
            </span>
        </header>

        {{>post-content}}
        <section class='about-post'>
        {{>post-info}}
        {{>post-tags}}
        </section>
    </div>
</article>
{{/post}}
{{>blog-footer}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
</script>
{{/contentFor}}
